{% extends "base.html" %}
{% block content %}
    <form method="POST">
        {{form.hidden_tag()}}
        {{form.email.label}}{{form.email}}<br>
        {{form.username.label}}{{form.username}}<br>
        {{form.password.label}}{{form.password}}<br>
        {{form.pass_confirm.label}}{{form.pass_confirm}}<br>
        {{form.submit()}}
    </form>
   <!--  <form method="POST">
        <input required type="text" placeholder="email"><br><br>
        <input required type="text" placeholder="username"><br><br>
        <input required type="text" placeholder="password"><br><br>
        <input required type="text" placeholder="pass_confirm"><br><br>
        <input type="submit">
    </form>  -->

<!--     <form method="POST">
        <label for="registration">Welcome:</label><br>
        <input required type="text" id="registration" placeholder="email"><br><br>
        <input required type="text" id="registration" placeholder="username"><br><br>
        <input required type="text" id="registration" placeholder="password"><br><br>
        <input required type="text" id="registration" placeholder="pass_confirm"><br><br>
        <input type="submit">
    </form>  -->
{% endblock %}